.search-bar-div input, .messageUser input {
  border-radius: 5px;
  border: lightgray solid 1px;
  padding: 10px;
  overflow: hidden; }

.messageUser button {
  border-radius: 5px;
  background: #7477bf;
  border: #7477bf solid 1px;
  padding: 10px;
  overflow: hidden;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2em; }

@keyframes jingle {
  20% {
    transform-origin: 50% 0%;
    transform: rotate(30deg); }
  40% {
    transform-origin: 50% 0%;
    transform: rotate(-30deg); }
  60% {
    transform-origin: 50% 0%;
    transform: rotate(30deg); }
  80% {
    transform-origin: 50% 0%;
    transform: rotate(-30deg); }
  100% {
    transform-origin: 50% 0%;
    transform: rotate(0deg); } }
* {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  cursor: pointer; }

h2 {
  display: none;
  color: #7f7f7f;
  font-weight: normal;
  font-family: serif; }
  @media (min-width: 485px) {
    h2 {
      display: initial;
      font-size: 1.2em; } }

h3 {
  margin: 20px 0 0 20px;
  color: #7f7f7f;
  font-size: 1em;
  font-family: serif; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.1em; } }

.grid-container__page {
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: 45px 1fr;
  grid-template-areas: "header header" "nav main"; }
  @media (min-width: 485px) {
    .grid-container__page {
      grid-template-columns: 60px 1fr;
      grid-template-rows: 60px 1fr; } }
.grid-container__main {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(8, 200px);
  grid-template-areas: "traffic" "dailyTraf" "mobileUsers" "socialStats" "newMemb" "recentAct" "messageUser" "settings"; }
  @media (min-width: 485px) {
    .grid-container__main {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 300px);
      grid-template-areas: "traffic traffic" "dailyTraf mobileUsers" "socialStats socialStats" "newMemb recentAct" "messageUser settings"; } }

header {
  grid-area: header;
  border-bottom: solid lightgrey 2px; }

nav {
  grid-area: nav;
  border-right: solid lightgrey 2px; }

main {
  grid-area: main; }

.traffic {
  grid-area: traffic;
  border-top: solid lightgrey 1px; }

.dailyTraf {
  grid-area: dailyTraf;
  border-top: solid lightgrey 1px; }
  @media (min-width: 485px) {
    .dailyTraf {
      border-right: solid lightgrey 1px; } }

.mobileUsers {
  grid-area: mobileUsers;
  border-top: solid lightgrey 1px; }

.socialStats {
  grid-area: socialStats;
  border-top: solid lightgrey 1px;
  display: flex;
  flex-direction: column; }

.newMemb {
  grid-area: newMemb;
  border-top: solid lightgrey 1px; }
  @media (min-width: 485px) {
    .newMemb {
      border-right: solid lightgrey 1px; } }

.recentAct {
  grid-area: recentAct;
  border-top: solid lightgrey 1px; }

.messageUser {
  grid-area: messageUser;
  display: flex;
  flex-direction: column;
  border-top: solid lightgrey 1px; }
  @media (min-width: 485px) {
    .messageUser {
      border-right: solid lightgrey 1px; } }

.settings {
  grid-area: settings;
  border-top: solid lightgrey 1px; }

.alert-div {
  background-color: #7477bf;
  display: flex;
  align-items: center;
  width: 95%;
  border: #7477bf solid 1px;
  border-radius: 5px;
  margin: 20px auto; }
  .alert-div * {
    color: white;
    background-color: #7477bf; }
  .alert-div p {
    display: inline;
    font-size: 0.7em;
    margin: 5px; }
    @media (min-width: 768px) {
      .alert-div p {
        font-size: 0.9em; } }
  .alert-div button {
    border: #7477bf solid 1px;
    font-size: 1.7em;
    padding: 0;
    margin: 5px;
    margin-left: auto;
    cursor: pointer; }
  .alert-div .alert {
    font-size: 1.2em;
    margin-right: 30px;
    font-family: serif; }

nav {
  background-color: #4d4c72; }
  nav img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 20px auto; }
    @media (min-width: 485px) {
      nav img {
        width: 40px;
        height: 40px;
        margin: 30px auto; } }

header {
  background-color: #7477bf;
  display: flex;
  align-items: center; }
  header * {
    color: white; }
  header span {
    margin-right: 10px;
    font-size: 0.8em;
    display: none; }
    @media (min-width: 485px) {
      header span {
        margin-right: 20px;
        font-size: 1em;
        display: inline; } }
  header h1 {
    flex: auto;
    margin-left: 10px;
    font-weight: normal;
    font-size: 1.2em;
    font-family: serif; }
    @media (min-width: 485px) {
      header h1 {
        margin-left: 20px;
        font-size: 1.6em; } }
    @media (min-width: 768px) {
      header h1 {
        font-size: 1.8em; } }
  header a {
    display: flex;
    justify-content: center;
    border-right: solid lightgrey 1px; }
  header .notification {
    width: 30px;
    height: 30px;
    padding-right: 10px; }
    @media (min-width: 485px) {
      header .notification {
        width: 40px;
        height: 40px; } }
    header .notification:hover {
      animation: jingle 0.7s ease-out forwards; }
  header .profile {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px; }
    @media (min-width: 485px) {
      header .profile {
        width: 40px;
        height: 40px; } }

.search-bar-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 60px;
  border-bottom: lightgrey 2px solid; }
  @media (min-width: 485px) {
    .search-bar-div {
      float: right;
      width: 70%;
      border-left: lightgrey 2px solid; } }
  @media (min-width: 768px) {
    .search-bar-div {
      justify-content: initial;
      width: 80%; } }
  @media (min-width: 1024px) {
    .search-bar-div {
      width: 85%; } }

.search-bar-div input {
  margin: auto;
  width: 90%; }
  @media (min-width: 768px) {
    .search-bar-div input {
      width: 70%;
      margin-right: 20px; } }

.tab-div {
  display: none; }
  @media (min-width: 485px) {
    .tab-div {
      display: inline-flex;
      width: 30%;
      height: 60px;
      justify-content: center;
      align-items: center;
      font-size: 1.1em; } }
  @media (min-width: 768px) {
    .tab-div {
      width: 20%;
      font-size: 1.3em; } }
  @media (min-width: 1024px) {
    .tab-div {
      width: 15%; } }

.graphDiv {
  position: relative;
  width: 95%;
  height: 80%;
  margin: 0 auto; }

.messageUser input {
  margin: 10px auto 0 auto;
  width: 90%; }
.messageUser button {
  width: 90%;
  margin: 10px auto; }

#message {
  height: 60%; }

.social-stat {
  margin: 5px;
  border: solid lightgrey 1px;
  border-radius: 5px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media (min-width: 768px) {
    .social-stat {
      height: 60%; } }
  @media (min-width: 1024px) {
    .social-stat {
      width: 400px; } }
  @media (min-width: 1300px) {
    .social-stat {
      height: 90%; } }
  .social-stat * {
    display: inline-block; }
  .social-stat P {
    font-size: 1.5em;
    margin: 0;
    color: #7477bf; }
    @media (min-width: 485px) {
      .social-stat P {
        font-size: 2em; } }
    @media (min-width: 1024px) {
      .social-stat P {
        font-size: 3em; } }
  .social-stat h4 {
    font-size: 1em;
    margin: 0;
    color: #4d4c72;
    font-weight: normal; }
    @media (min-width: 485px) {
      .social-stat h4 {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .social-stat h4 {
        font-size: 1.5em; } }
  .social-stat svg {
    height: 30px;
    width: 30px;
    background-color: #7477bf;
    border-radius: 50%;
    margin: 5px; }
    @media (min-width: 485px) {
      .social-stat svg {
        height: 40px;
        width: 40px; } }
    @media (min-width: 1024px) {
      .social-stat svg {
        height: 70px;
        width: 70px; } }
    .social-stat svg path {
      fill: white; }

.flex-container__social {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  @media (min-width: 485px) {
    .flex-container__social {
      margin: 30px 0; } }

/*# sourceMappingURL=style.css.map */
