%input {
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    width: 90%;
    @include border();
}

%button {
    border-radius: 5px;
    background: $primary-color;
    border: $primary-color solid 1px;
    padding: 10px;
    overflow: hidden;
    color: $secondary-font-color;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
}

%switchCircle {
    border-radius: 50%;
    width: 29px;
    height: 29px;
    background: $secondary-font-color;
    position: relative;
    transition: 0.1s ease;
}