// ----- BACKGROUND COLORS ------ //
$primary-color: rgb(116, 119, 191);
$secondary-color: rgb(56, 59, 131);
// ----- TYPOGRAPHY ------ //
$primary-font-color: rgb(127,127,127);
$secondary-font-color: white;
$primary-font: serif;
$secondary-font: sans-serif;
// ----- LAYOUT ------ //
$sectionGap: 20px;
$sectionHeight: 300px;
// ----- BREAKPOINTS ------ //
$breakpoint-sml: 485px;
$breakpoint-med: 768px;
$breakpoint-lrg: 1024px;
$breakpoint-xlrg: 1300px;