.alert-div {
    background-color: $primary-color;
    @include flexy($dir: row, $alignItems: center);
    width: 95%;
    border: $primary-color solid 1px;
    border-radius: 5px;
    margin: $sectionGap auto;
        * {
            color: $secondary-font-color;
            background-color: $primary-color; 
        }
        p {
            display: inline;
            font-size: 0.7em;
            margin: 5px;
            @include mq(medium) {
                font-size: 0.9em;
            } 
        }
        //close button
        button {
            @include border($color: white, $thick: 2px, $radius: 5px);
            font-size: 1.2em;
            padding: 0 5px;
            margin: 2px 5px 2px auto;
            cursor: pointer;
        }
        .alert {
            font-size: 1.2em;
            margin-right: 30px;
            font-family: $primary-font;
        }
}
