// this grid is for overall page layout
.grid-container__ {
    &page {
        display: grid;
        grid-template-columns: 45px 1fr;
        grid-template-rows: 45px 1fr;
        grid-template-areas: 
            "header header"
            "nav main";
        @include mq(small) {
            grid-template-columns: 60px 1fr;
            grid-template-rows: 60px 1fr;
        }
        @include mq(medium) {
            grid-template-columns: 70px 1fr;
            grid-template-rows: 70px 1fr;
        }
    }
}

// grid areas for overall page layout
main {
    grid-area: main;
}
header {
    grid-area: header;
    @include border($side: -bottom, $thick: 2px);
}
nav {
    grid-area: nav;
    @include border($side: -right, $thick: 2px);
}

// Main area flex conatiner and items
.container__main {
    display: flex;
    flex-wrap: wrap;
}

.traffic,
.dailyTraf,
.mobileUsers,
.socialStats,
.newMemb,
.recentAct,
.messageUser,
.settings {
    height: 350px;
    width: 100%;
    @include border($side: -top);
}

.dailyTraf, .mobileUsers, .newMemb, .recentAct, .messageUser, .settings {
    @include mq(medium) {
        width: 50%;
    }
}

//left hand-side flex items
.dailyTraf, .newMemb, .messageUser {
    @include mq(medium) {
        @include border($side: -right);
    }
}

.messageUser {
    @include flexy();
}
.settings {
    @include flexy();
    div {
        @include flexy($dir: row, $alignItems: center);
        flex: 1;
        max-height: 60px;
    }
}