
.grid-container__ {
    &page {
        display: grid;
        grid-template-columns: 45px 1fr;
        grid-template-rows: 45px 1fr;
        grid-template-areas: 
            "header header"
            "nav main";
        @include mq(small) {
            grid-template-columns: 60px 1fr;
            grid-template-rows: 60px 1fr;
        }
    }

    &main {
        display: grid;
        grid-gap: $sectionGap;
        grid-template-rows: repeat(8, minmax(200px, 1fr));
        grid-template-areas:
            "traffic"
            "dailyTraf"
            "mobileUsers"
            "socialStats"
            "newMemb"
            "recentAct"
            "messageUser"
            "settings";
            @include mq(small) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(5, minmax(250px, 1fr));
                grid-template-areas:
                    "traffic traffic"
                    "dailyTraf mobileUsers"
                    "socialStats socialStats"
                    "newMemb recentAct"
                    "messageUser settings";
            }
        }
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.traffic {
    grid-area: traffic;
}

.dailyTraf {
    grid-area: dailyTraf;
}

.mobileUsers {
    grid-area: mobileUsers;
}

.socialStats {
    grid-area: socialStats;
}

.newMemb {
    grid-area: newMemb;
}

.recentAct {
    grid-area: recentAct;
}

.messageUser {
    grid-area: messageUser;
}

.settings {
    grid-area: settings;
}