header {
    background-color: $primary-color;
    @include flexy($alignItems: center, $dir: row);
    * {
        color: $secondary-font-color;
    }
    span.user-name {
        margin-right: 10px;
        font-size: 0.8em;
        display: none;
        @include mq(small) {
            margin-right: 20px;
            font-size: 1em;
            display: inline;
        }
    }
    h1 {
        flex: auto;
        margin-left: 10px;
        font-weight: normal;
        font-size: 1.2em;
        font-family: $primary-font;
        @include mq(small) {
            margin-left: 20px;
            font-size: 1.6em;
        }
        @include mq(medium) {
            font-size: 1.8em;
        }
    }
    a {
        @include flexy($just: center, $dir: row);
        @include border($side: -right);
    }
    .notification {
        width: 30px;
        height: 30px;
        padding-right: 10px; 
        @include mq(small) {
            width: 40px;
            height: 40px;
        }
        &:hover {
            animation: jingle 0.7s ease-out forwards;
        }
    }
    img.profile {
        @include border($color: $secondary-font-color, $thick: 1px, $radius: 50%);
        width: 35px;
        height: 35px;
        margin-right: 10px;
        margin-left: 10px;
        @include mq(small) {
            width: 40px;
            height: 40px;
        }
    }
}

// NOTIFICATION DROPDOWN MENU

/* The container <div> - needed to position the dropdown content */
.notificationDropDown {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    left: 40%;
    font-size: 0.6rem;
    border-radius: 50%;
    background: red;
    padding: 2px 4px;
    z-index: 1;
    margin: 0;
    @include mq(small) {
        font-size: 0.8rem;
        padding: 2px 6px;
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    width: 250px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    @include mq(small) {
        right: unset;
    }
    p {
        margin: 5px 0;
        color: $primary-font-color;
        font-size: 0.8rem;
        font-weight: 400;
    }
}

/* Links inside the dropdown */
.dropdown-content a {
    color: $primary-font-color;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    @include border($side: -top);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
}

// Class added in main.js to show the dropdown menu
.show {
    display: block;
}