header {
    background-color: $primary-color;
    @include flexy($alignItems: center, $dir: row);
    * {
        color: $secondary-font-color;
    }
    span {
        margin-right: 10px;
        font-size: 0.8em;
        display: none;
        @include mq(small) {
            margin-right: 20px;
            font-size: 1em;
            display: inline;
        }
    }
    h1 {
        flex: auto;
        margin-left: 10px;
        font-weight: normal;
        font-size: 1.2em;
        font-family: $primary-font;
        @include mq(small) {
            margin-left: 20px;
            font-size: 1.6em;
        }
        @include mq(medium) {
            font-size: 1.8em;
        }
    }
    a {
        @include flexy($just: center, $dir: row);
        @include border($side: -right);
    }
    .notification {
        width: 30px;
        height: 30px;
        padding-right: 10px; 
        @include mq(small) {
            width: 40px;
            height: 40px;
        }
        &:hover {
            animation: jingle 0.7s ease-out forwards;
        }
    }
    .profile {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        margin-left: 10px;
        @include mq(small) {
            width: 40px;
            height: 40px;
        }
    }
}
