.messageUser {
    input {
        @extend %input;
        margin: 10px auto 0 auto;
    }
    button {
        @extend %button;
        width: 90%;
        margin: 10px auto;
    }
    p {
        text-align: center;
        margin: 5px 0 0 0;
        color: green;
    }
}

#message {
    height: 60%;
}