.messageUser {
    input {
        @extend %input;
        margin: 10px auto 0 auto;
        width: 90%;
    }
    button {
        @extend %button;
        width: 90%;
        margin: 10px auto;
    }
}

#message {
    height: 60%;
}