.search-bar-div {
    @include flexy($just: center, $dir: row-reverse);
    @include border($thick: 2px, $side: -bottom);
    height: 60px;
    @include mq(small) {
        float: right;
        width: 70%;
        @include border($thick: 2px, $side: -left);
    }
    @include mq(medium) {
        justify-content: initial;
        width: 80%;
    }
    @include mq(large) {
        width: 85%;
    }
}

.search-bar-div input {
    @extend %input;
    margin: auto;
    @include mq(medium) {
        width: 70%;
        margin-right: 20px;
    }
}

.tab-div {
    display: none;
    @include mq(small) {
        @include flexy($disp: inline-flex, $alignItems: center, $just: center, $dir: row);
        width: 30%;
        height: 60px;
        font-size: 1.1em;
    }
    @include mq(medium) {
        width: 20%;
        font-size: 1.3em;
    }
    @include mq(large) {
        width: 15%;
    }
}