* {
    box-sizing: border-box;
    font-family: $secondary-font;
}

a {
    cursor: pointer;
}

h2 {
    display: none;
    color: $primary-font-color;
    font-weight: normal;
    font-family: $primary-font;
    @include mq(small) {
        display: initial;
        font-size: 1.2em;
    }
}

h3 {
    margin: 20px 0 0 20px;
    color: $primary-font-color;
    font-size: 1em;
    font-family: $primary-font;
    @include mq(medium) {
        font-size: 1.1em;
    }
}
