* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

h2 {
    display: none;
    color: $primary-font-color;
    font-weight: normal;
    @include mq(small) {
        display: initial;
        font-size: 1em;
    }
}

h3 {
    margin: 20px 0 0 20px;
    color: $primary-font-color;
    font-size: 1em;
}

.social-stat {
    flex: 1;
    margin: 20px;
    border: solid lightgrey 1px;
    border-radius: 5px;
        * {
            display: inline-block;
        }
        P {
            font-size: 2.5em;
            margin: 0;
        }
        h4 {
            font-size: 1.2em;
            margin: 0;
        }
        svg {
        height: 70px;
        width: 70px;
        margin: 20px 5px;
        background-color: $primary-color;
        border-radius: 50%;
            path {
                fill: white;
                padding: 5px;
            }
        }
}

.flex-container__social {
    margin: auto 0;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
